.view{
  position: relative;
  width: 1280px;
  height: 720px;
  background-color: black;
}



.type-writer:nth-child(0){
  top: 50%;
}

.start-game__button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}